<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <h2><%= name %></h2>
    <img src="<%= photo %>" alt="" style="border-radius: 10px;margin: 15px;">

    <div class="links">
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>

    </div>

    <% usersWithSecrets.forEach(function(elem){ %>
      <p class="secret-text">      
      <%= elem.secret %>
    </p>

    <% }) %>
    <p class="secret-text">      
      
    </p>
    
    

  </div>
</div>

<%- include('partials/footer') %>
